.request-Form {
    width: 390px;
    padding-left: 20px;
    float:left;
}

.requestForm{
    width: 780px;
    height: 700px;
}

.request-Form2 {
    width: 390px;
    padding-left: 20px;
    float: left;
}