<form #formControl="ngForm" (ngSubmit)="resetPassword(formControl, resetPasswordModel)">
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modelclass">
                    <h4 class="modal-title">Reset Password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" [class.has-error]="email.touched && email.invalid">
                            <label class="control-label col-md-4" style="padding-top:0px">
                                <span>*</span> Email Address</label>
                            <div class="col-md-6">
                                <input type="email" required appEmailvalidator class="form-control" name="email" #email="ngModel" [(ngModel)]="resetPasswordModel.email"
                                    (change)="emailValidation(formControl, resetPasswordModel.email)" />
                                <span class="help-block" *ngIf="email.touched && email?.errors?.required">Email is required</span>
                                <span class="help-block" *ngIf="email.touched && email?.errors?.invalidEmail && !email.errors?.required">Please enter a valid email</span>
                                <span class="help-block" *ngIf="email.touched && email?.errors?.validation && !email.errors?.invalidEmail">Email id is not available</span>
                            </div>
                        </div>

                        <div ngModelGroup="passwordGrp" [class.has-error]="confirmPass.touched && confirmPass?.errors?.compare && !confirmPass.errors?.required">
                            <div class="form-group" [class.has-error]="pass.invalid && pass.touched">
                                <label class="control-label col-md-4" style="padding-top:0px">
                                    <span>*</span> Password</label>
                                <div class="col-md-6">
                                    <input type="password" (input)="confirmPass.control.updateValueAndValidity()" required class="form-control" name="pass" #pass="ngModel"
                                        [(ngModel)]="resetPasswordModel.password" />
                                    <span class="help-block" *ngIf="pass.touched && pass.invalid">Password is required</span>
                                </div>
                            </div>

                            <div class="form-group" [class.has-error]="(confirmPass?.errors?.required) || (confirmPass.touched && confirmPass?.errors?.compare)">
                                <label class="control-label col-md-4">Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password" [required]="resetPasswordModel.password !== '' &&  resetPasswordModel.password !== null" appCompareValidator="pass"
                                        class="form-control" name="confirmPass" #confirmPass="ngModel" [(ngModel)]="resetPasswordModel.confirmPassword"
                                    />
                                    <span class="help-block" *ngIf="confirmPass?.errors?.required">Confirm password is required</span>
                                    <span class="help-block" *ngIf="confirmPass.touched && confirmPass?.errors?.compare && !confirmPass.errors?.required">Confirm password should match the password</span>
                                </div>
                            </div>
                        </div>

                        <span style="color:red; padding-left:40%; text-align:center">{{valid}}</span>
                    </div>
                </div>
                <div class="modal-header">
                    <input type="submit" value="Submit" class="btn btn-default hovrBtn" />
                    <input type="button" value="Cancel" class="btn btn-default hovrBtn" (click)="cancelAction(formControl)" />
                    <span>
                        <a routerLink="forget">Forget Password</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>